{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-5">Корзина</h2>
    {% if cart and cart.items %}
    <ul class="list-group">
        {% for item in cart.items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ item.product.name }} - {{ item.quantity }} шт. - {{ item.product.price * item.quantity }} ₽
            <form method="POST" action="{{ url_for('main.remove_from_cart', product_id=item.product.id) }}">
                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <div class="mt-3">
        <h4>Итоговая стоимость: {{ total_price }} ₽</h4>
    </div>
    <form method="POST" action="{{ url_for('main.checkout') }}">
        <button type="submit" class="btn btn-success mt-3">Оформить заказ</button>
    </form>
    {% else %}
    <p>Ваша корзина пуста. Выберите что-либо</p>
    {% endif %}
</div>

{% endblock %}