{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-5">Редактирование товара</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class_='form-label') }}
            {{ form.name(class_='form-control') }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class_='form-label') }}
            {{ form.description(class_='form-control') }}
        </div>
        <div class="mb-3">
            {{ form.price.label(class_='form-label') }}
            {{ form.price(class_='form-control') }}
        </div>
        <div class="mb-3"></div>
            {{ form.image.label(class_='form-label') }}
            {{ form.image(class_='form-control') }}
        </div>
        <div class="mb-3">
            <label for="category_id" class="form-label">Категория</label>
            <select class="form-control" id="category_id" name="category_id">
                {% for category in categories %}
                <option value="{{ category.id }}" {% if product.category_id==category.id %}selected{% endif %}>{{
                    category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>
{% endblock %}