{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-5">Регистрация</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            {{ form.password(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        <a href="{{ url_for('main.login') }}" class="btn btn-light">Войти</a>
    </form>

</div>
{% endblock %}